html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

:focus {
outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
border:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted #000;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*reset end*/
body {
	margin: 0;
	padding: 0;
	background-color: #000;
}
.constr {
		width: 1280px;
		margin: 0 auto;
		padding: 0;
		background-color: #fff;
}
.top {
		height: 56px;

}
.top-left {
		width: 150px;
		position: relative;
		margin-left: 60px;
		padding-top: 12px;
}
.top-left h2 {
		font:21px 黑体;
		display: inline-block;
		position: absolute;
		top: 16px;
		left: 44px;
}
.top-nav {
		display: inline-block;
		float: right;
		margin-top: -56px;
}
.top-nav ul {
		list-style:none;
		float: right;
		padding-right: 18px;
}
.top-nav li {
		float: left;
		vertical-align: middle;
}

.top-nav a {
	font: 14px 微软雅黑;
	text-decoration: none;
	display: inline-block;
	height: 48px;
	line-height: 56px;
	margin: 0 23px;
	overflow: hidden;
	padding-top: 13px;
	text-align: center;

}
.top-nav a:link {
		color: #111;
}
.top-nav li .red {
		color: #e74f4d; 
}
.top-nav a:hover  {
		color: #e74f4d;	
}
.on {
		color:  #e74f4d;
		border-bottom: 4px solid red;
}
.top-nav li img {
		position: absolute;
		top:22px;
}
/*top end*/

/*section1 start*/
.section1 {
		height: 692px;
		background-image: url(http://image.jiantuku.com/17-10-24/95645089.jpg?attname=file_1508847853113_26d4.png&e=1508848810&token=el7kgPgYzpJoB23jrChWJ2gV3HpRl0VCzFn8rKKv:DYthqkFeiFmPSA2tzz9GJmgeS8A=);
}
.section1-mask{
		background-image: url(http://image.jiantuku.com/17-10-24/41420592.jpg?attname=file_1508847853902_1292.png&e=1508848810&token=el7kgPgYzpJoB23jrChWJ2gV3HpRl0VCzFn8rKKv:U_zG-eTyCqgCblGO5GyUlDOwzrA=);
		width: 100%;
		height:100%;

}
.section1 h3 {
		font: 60px 微软雅黑;
		color: #fff;
		display: inline-block;
		margin: 228px 0 0 116px;
}
.section1 p {
		font: 20px 微软雅黑;
		color: #fffdfd;
		display: inline-block;
		margin: 10px 0 0 126px;
		width: 296px;
		line-height: 32px;
}
.section1-btn {
		width:330px;
		height: 64px;
		background-color: #e74f4d;
		margin: 66px 0 0 126px;
}
.section1-btn h4 {
		font: 30px 微软雅黑;
		color: #fffdfd;
		display: inline-block;
		margin: 10px 0 0 110px;
}
.section1-btn a{
		display: inline-block;
	 	width:330px;
		height: 64px;
}

/*section1 end*/

/*section2 start*/
.section2 {
		height: 250px;
}
.section2-block {
		width: 318px;
		height: 250px;
		float: left;
}
.section2-block img {
		margin: 44px 0 46px 138px;
}
.section2-block p {
		font: 14px 黑体;
		color: #767777;
		text-align: center;
		padding-bottom: 20px;
		border-left: 2px solid #aaa;
}

.section2-block .section2-p  {
		border: none;
}
/*section2 end*/

/*section3 start*/
.section3 {
		height: 360px;
		text-align: center;
		background-color: #ececec;
}
.section3 img {
		margin-top: 88px;
		margin-bottom: 48px;
}
.section3 h2 {
		font: 54px 黑体;
		color: #a1a1a1;
}
/*section3 end*/

/*section4 start*/

.section4 {
		height: 340px;
		background-image: url(http://image.jiantuku.com/17-10-24/80473375.jpg?attname=file_1508847891626_a32d.png&e=1508848810&token=el7kgPgYzpJoB23jrChWJ2gV3HpRl0VCzFn8rKKv:gFB82iyt0WJ4Ekrdz99cQ1ySHY0=);
		text-align: center;
}
.section4-mask {
		height: 340px;
		background-image: url(http://image.jiantuku.com/17-10-24/7093996.jpg?attname=file_1508847891956_76f8.png&e=1508848810&token=el7kgPgYzpJoB23jrChWJ2gV3HpRl0VCzFn8rKKv:3214TvvUNKGzVqJ69JcU83ZAs1s=);
}

.section4 h3 {
		font: 21px 微软雅黑;
		color: #fff;
		padding-top: 54px;
		padding-bottom: 12px;
}

.section3-line {
		margin: 0 auto;
		width: 30px;
		height: 3px;
		background-color: #fff;
}
.section4 p {
		font: 12px 微软雅黑;
		color: #fff;
		padding-top: 20px;
}
  /*select选择框默认样式清除*/
.section4 select {
	display: inline-block;
	width: 234px;
	height: 34px;
	margin-right: 25px;
	.appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
  	border: 1px solid rgb(191,78,72);
  	background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent #fff;
}
.section4 select option {
	margin-left: 10px;
}

.section4 form {
	margin-top: 40px;
	margin-left: -250px;
}
.section4 button {
	float: right;
	width: 234px;
	height: 34px;
	border: none;
	margin-top: -34px;
	margin-right: 130px;
	color: #fff;
	font-size: 16px;
	background-color: rgb(191,78,72);

}
/*section4 end*/

/*section5 start*/

.section5 {
		height: 604px;
		background-color: #f1f1f1;
}
.section5-1,.section5-2,.section5-3,.section5-4 {
		
		height:392px;
		float: left;
		margin-top: 102px;
		text-align: center;
}
.section5 img {
		width: 202px;
		height: 312px;
		background-color: #fff;
}
.section5-img {
		border: 1px solid #cecece;
}
.section5-1 {
		margin-left: 158px;
}
.section5-1 img {
		padding:12px 8px;
}
.section5-1 h4 {
		font: 12px 微软雅黑;
		color: #323333;
		margin-top: 16px;
}
.section5-1 p {
		font: 12px 微软雅黑;
		color: #888989;
		margin-top: 14px;
}
.section5-2 {
		margin-left: 36px;
}
.section5-2 img {
		padding:12px 8px;
}
.section5-2 h4 {
		font: 183% 微软雅黑;
		color: #323333;
		margin-top: 0;
		letter-spacing: 0.7em;
}
.section5-2 p {
		font: 12px 微软雅黑;
		color: #888989;
		margin-top: 8px;
		margin-bottom: 8px;
}
.section5-3 {
		margin-left: 36px;
}
.section5-3 img {
		padding:12px 8px;
}
.section5-3 h4 {
		font: 12px 微软雅黑;
		color: #323333;
		margin-top: 16px;
}
.section5-3 p {
		font: 12px 微软雅黑;
		color: #888989;
		margin-top: 14px;
}
.section5-4 {
		margin-left: 36px;
}
.section5-4 img {
		padding:12px 8px;x;
}
.section5-4 h4 {
		font: 12px 微软雅黑;
		color: #323333;
		margin-top: 16px;
}
.section5-4 p {
		font: 12px 微软雅黑;
		color: #888989;
		margin-top: 14px;
}

/*section5 end*/

/*section6 start*/

.section6 {

}
.section6-left {
		width: 850px;
		height: 566px;
		background-image: url(http://image.jiantuku.com/17-10-24/83378900.jpg?attname=file_1508847893640_dddf.png&e=1508848810&token=el7kgPgYzpJoB23jrChWJ2gV3HpRl0VCzFn8rKKv:XwjhBqwyIsehALDYiLsSMoP1-Ww=);
		text-align: center;
		position: relative;

}
.section6-left h3 {
		font:50px 微软雅黑;
		color: #fff;
		padding-top: 132px;
}
.section6-left h2 {
		font: 158px 微软雅黑;
		color: #fff;
		margin-top: -45px;
}
.section6-left p {
		font: 22px 微软雅黑;
		color: #fff;
		margin-top: -20px;
}
.section6-left time {
		font: 22px 微软雅黑;
		color: #fff;
		display: inline-block;
		padding-top: 15px;
}
.section6-left img {
		position: absolute;
		top: 268px;
		right: -1px;
}

.section6-right {
		float: right;
		width: 430px;
		height: 566px;
		margin-left: 850px;
		margin-top: -566px;
		background-color: #fff;

}
.section6-right-constr {
		width: 288px;
		margin:0 auto;
		text-align: center;
}
.section6-right-constr h3 {
		font: 22px 微软雅黑;
		padding-top: 166px;

}
.section6-right-red {
		color: #e74f4d;
}
.section6-right-constr p {
		display: inline-block;
		margin-top: 30px;
		font: 12px 宋体;
		color: #aaa;
		letter-spacing: 0.2em;
		line-height:2.3em;
}
.section6-btn {
		
		width: 104px;
		height: 30px;
		border :2px solid  #e74f4d;
		margin-top: 40px;
		margin-left: 94px;

}
.section6-btn p {
		display: inline-block;
		margin-top:6px;
		font: 12px 微软雅黑;
		color: #e25c60;
}
.section6-right-constr img {
		margin-top: 24px;
		margin-left: 12px;
}

/*section6 end*/

/*section7 start*/

.section7 {
	height: 520px;
	width: 1280px;
	position: relative;
}
.section7-1 {
		width:425px;
		height: 520px;
		background-color: #e74f4d;
		text-align: center;
}
.section7-1 h3,.section7-1 h4,.section7-1 p {
		font: 21px 黑体;
		color: #fff;
}
.section7-1 p {
		display: inline-block;
		border: 1px solid #fff;
		padding: 10px 42px;
		margin-top: 24px;
}
.section7-2 {
		position: absolute;
		top: 0;
		left: 425px;
		width:425px;
		height: 520px;
		background-color: #fff;
		text-align: center;
}
.section7-2 p {
		display: inline-block;
		border: 1px solid #e74f4d;
		padding: 10px 42px;
		margin-top: 24px;
		color: #e74f4d;
}
.section7-2 h3,.section7-2 h4,.section7-2 p {
		font: 21px 黑体;

}
.section7-1 h3,.section7-2 h3 {
		display: inline-block;
		margin-top: 174px;
}
.section7-1 h4,.section7-2 h4 {
		margin-top: 8px;
		margin-bottom: 24px;
}
.section7-1-line {
		margin: 0 auto;
		width: 30px;
		height: 2px;
		background-color: #fff;
}
.section7-2-line {
		margin: 0 auto;
		width: 30px;
		height: 2px;
		background-color: #333;
}
.section7-3 {
		position: absolute;
		top: 0;
		right: 0;
		width:430px;
		height: 520px;
		background-image: url(http://image.jiantuku.com/17-10-24/13116438.jpg?attname=file_1508847925841_5222.png&e=1508848810&token=el7kgPgYzpJoB23jrChWJ2gV3HpRl0VCzFn8rKKv:n4AxbB-d3iH9LPk5jlryWUKKQrs=);
}
.section7-3-icon {
		position: absolute;
		top:246px;
}

/*section7 end*/

/*section8 start*/

.section8 {
		width: 1280px;
		margin-bottom: 106px;
		text-align: center;
}
.section8 h3 {
		font: 21px 黑体;
		color: #323333;
		padding-top: 118px;
		padding-bottom: 8px;
}
.section8 p {
		font: 12px 微软雅黑;
		color: #aaa;
		padding-top: 8px;
		line-height: 18px;
}
.section8-line {
		margin: 0 auto;
		width: 30px;
		height: 2px;
		background-color: #e74f4d;

}
/*section8 end*/

/*section9 start*/

.section9 {
		width: 1000px;
		height: 300px;
		margin: 0 auto;
}
.section9-left {
		position: absolute;
		width: 280px;
		float: left;
}

.section9-left h3 {
		font :14px 黑体;
		color: #666160;
}
.section9-left p {
		font :12px 宋体;
		color: #adabab;

}
.section9-left-1 p{
		padding: 26px 0 12px 0;
		line-height: 20px;
}
.section9-left-2 {
		margin-top: 38px;
}
.section9-left-2 p{
		padding: 26px 0 12px 0;
}
.section9-left-3 {
		margin-top: 38px;
}
.section9-left-3 p{
		padding: 26px 0 12px 0;
}
.section9-left-btn {
		position: absolute;
		right: 0;
		font: 12px 宋体;
		color: #adabab
}
.section9-left span:before {
		content: url(http://image.jiantuku.com/17-10-24/82668586.jpg?attname=file_1508847926722_1614b.png&e=1508848810&token=el7kgPgYzpJoB23jrChWJ2gV3HpRl0VCzFn8rKKv:8qd52Q0Lpuh9R_F_dNDZ3_JyVuw=);
		
		margin-right: 5px;
}

.section9-right {
		display: inline-block;
		float: right;
		width: 640px;
		margin:;

}
.section9-right input {
		display: inline-block;
		height: 40px;
		width: 304px;
		margin-bottom: 14px;
		border: none;
		background-color: #ededee;
		text-indent: 18px;
		font: 12px 宋体;

}
.section9-right input:nth-child(odd) {
		margin-right: 16px;
}
.section9-right textarea {
		width: 623px;
		height:120px;
		border: none;
		background-color: #ededee;
		text-indent: 18px;
		font: 12px 宋体;
		line-height: 41px;
		color: rgba(35,24,21,.6);
		resize: none;
}
.section9-right button {
		width: 628px;
		height: 40px;
		border: none;
		background-color: #ededee;
		margin-top: 14px;
		font: 14px 黑体;
}
/*section9 end*/

/*footer start*/
footer {
	margin-top: 168px;
	height: 416px;
	background-color: #33363f;
	text-align: center;
}
footer h3 {
		display: inline-block;
		margin-top: 90px;
		margin-bottom: 12px;
		font: 21px "Adobe 黑体 Std R";
		color: #fff;
}
footer p {
		font: 12px "Adobe 黑体 Std R";
		color: #fff;
		line-height: 19px;
}
footer .subbmit {
		display: inline-block;
		width: 512px;
		height: 42px;
		margin-top: 30px;
		vertical-align: center
}
footer .subbmit input {
		float: left;
		width: 430px;
		height:38px;
		text-indent: 10px;
		font: 14px 微软雅黑;
		color: #aaa;
}
footer .subbmit button {
		float: right;
		width: 78px;
		height: 44px;
		background-color: #6f7278;
		border:none;
		font: 15px "Adobe 黑体 Std R";
		color: #fff;
}
footer img {
		margin-top: 36px;
		margin-right: 18px;

}

.footer-bottom {
		height:56px;
		background-color: #303039;
		margin-top: 72px;
}
.footer-bottom p {
		float: left;
		margin: 30px 0 0 100px;
		font: 10px "Adobe 黑体 Std R";
		color: #fff;

}
.footer-bottom a {
		float: right;
		margin: 30px 40px 0 0;
		font: 10px "Adobe 黑体 Std R";
		color: #fff;
		text-decoration: none;
}
